@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #05478A;
  background-color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: #05478A;
  text-decoration: underline;
}

a, input {
  cursor: pointer;
}

input:active, input:focus {
  outline: none;
}

footer {
  background-color: #022241;
  width: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#loader {
  animation: spin 2s linear infinite;

}


@media (prefers-color-scheme: dark) {
  :root {
    color: #dde4ec;
    background-color: #05478A;
  }
  a {
    color: #dde4ec;
  }
  input {
    background-color: #dde4ec;
    color: #022241;
  }
  button {
    background-color: #f9f9f9;
  }
  footer {
    background-color: #022241;
    width: 100%;
  }
}
